@import './reset.scss';
// fonts go here 
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Neonderthaw&family=Courgette&display=swap');

// constants go here
$dark-grey: #484748;
$less-dark-grey: #858585;;
$light-grey: rgb(214, 217, 220);
$lighter-grey: rgb(236, 239, 243);
$title-color: #eaadad;
$light-main-color: #f8e1e1;
$lighter-main-color: #f6e9e9;
$less-light-main-color: #fddede;
$fancy-font: 'Neonderthaw';
$readible-fancy-font: 'Courgette';
$title-font: 'Neonderthaw';
$recipe-font: "Special Elite";
$reg-font: 'Raleway';
$webpage-width: 1250px;
$phone-width: 400px;
$light-button-color: #f1eff2;
$light-green: #acb2a9;
$bottle-green: #092E20;
$light-black: #252525;
$cream: #f9f7ea;
$warm-pink: #f99fc9ff;
$serif-font: 'Merriweather';
$dark-coral: #EF6079FF;
$light-grey-border: rgb(221, 221, 221);
$standard-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 2px 6px 0px, rgba(0, 0, 0, 0.09) 0px 3px 8px 0px;

// some all around classes
.webpage {
  max-width: $webpage-width;
  margin: auto;
  // padding-top: 16px;
  font-family: $reg-font;
}

.in-line{
  display: flex;
  flex-direction: row;
}

.centered-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.loading {
  height: 100vh;
}

.btn {
  font-family: $reg-font;
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: -.08px;
  border: none!important;
  background-color: $light-button-color;
  color: $dark-grey;
  align-self: center;
  &:hover {
    background-color: $less-light-main-color;
  }
  &:focus {
    background-color: $title-color;
  }
}
.ico {
  font-size: 24px;
  height: 20px;
  width: 20px;
  margin: 4px;
}

input, textarea {
    border-radius: 3px;
    border: 1px solid $light-grey;
    outline:none;
    font-size: 14px;
    padding: 10px;
    &:focus {
        outline:none;
        box-shadow: $light-main-color 0px 0px 0px 4px
    }
}

a {
    text-decoration:none;
    color:black;
}


// imports go here
@import './navbar.scss';
@import './recipe-index.scss';
@import './recipe-index-item.scss';
@import './homepage.scss';
@import './login.scss';
@import './recipe-show.scss';
@import './bar-cart.scss';
@import './auto-complete.scss';
@import './recipe-form.scss';
@import './ingredient-filter-list.scss';
@import './review-index.scss';
@import './bar_cart_recipe_show.scss';
@import './review-form.scss';
@import './feed.scss';
@import './footer.scss';
@import './loading.scss';



// @media phone flip goes here
@import './media-q.scss';