.dropdown-ing {
    //   position:
    width: 180.4px;
    background-color: white;
    border: 1px solid $light-grey;
    border-radius: 4px;
    .autocomplete-res {
        margin: 4px;
        padding: 4px;
        width: 100%;
        cursor: pointer;
    }
}
