.dropdown-ing {
  position: fixed;
  background-color: white;
  border: 1px solid $dark-grey;
  border-radius: 4px;
  .autocomplete-res {
    margin: 4px;
    padding: 4px;
    width: 100%;
    cursor: pointer;
  }
}