// .easy-drinqs, .hard-drinqs, .missing {
//   height: 50px;
//   width: 100%;
//   border: 1px solid blue;
// }

.asym{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.cart-outer-container {
  height: auto;
  padding: 8px 0;
  margin: auto;
  position: absolute;
  .barcart-title {
    font-size: 20px;
    font-weight: 500;
    text-decoration: double underline;
  }
}
.bar-items {
  width: 200px!important;
}

.bar-left {
  .search-input-web{
    width: 100%;
  }
  padding: 8px;
}

.bar-right {
  padding: 8px;
}

.map-container {
  padding: 4px;
}

.make-box {
  >h2 {
    font-family: $serif-font;
  }
  >ul li{
    font-family: $reg-font;
    cursor: pointer;
  }
}

.missing {
  >h2 {
    font-family: $serif-font;
  }
  >ul li{
    font-family: $recipe-font;
    cursor: pointer;
    padding-left: 8px ;
  }
}