.asym {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 1000px;
}
.btn-barcart {
    background-color: $title-color;
    color: white;
}

.cart-outer-container {
    height: auto;
    padding: 8px 0;
    margin: auto;
    position: relative;
    // left: -43px;
    width: fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 2px 6px 0px, rgba(0, 0, 0, 0.09) 0px 3px 8px 0px;
    border: 1px solid $light-grey;
    border-radius: 5px;
    width: 200px;
    background-color: $lighter-main-color;
    .close-barcart {
        position:absolute;
        right: -40px;
        color: $light-grey;
        cursor:pointer;
        &:hover {
            color: $light-black;
        }
    }
    ul {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .barcart-title {
        font-size: 20px;
        font-weight: 500;
        padding: 10px 10px 5px 10px;
        border-bottom: 1px solid $warm-pink;
        margin-bottom: 5px;
        color: $warm-pink;
        font-family: $serif-font;
    }
}

.bar-left {
    .recipes-possible {
        margin-top: 20px;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 2px 6px 0px, rgba(0, 0, 0, 0.09) 0px 3px 8px 0px;
        border: 1px solid $light-grey;
        border-radius: 5px;
        padding: 10px;
        background-color: $lighter-main-color;
    }
    .search-input-web {
        width: 100%;
    }
    padding: 8px;
}

.bar-right {
    padding: 8px;
}

.map-container {
    padding: 4px;
}

.make-box {
    font-size: 13px;
    > h2 {
        font-family: $serif-font;
        color: #EF6079FF;
        padding-bottom: 3px;
        width: fit-content;
        margin-bottom: 5px;
        border-bottom: 1px solid $warm-pink;
    }
    > ul li {
        font-family: $reg-font;
        cursor: pointer;
        &:hover {
            color: $warm-pink;
            font-weight: 600;
        }
    }
    button {
        font-size: 13px;
        margin-top:10px;
    }
}
.make-box {
    margin-bottom: 30px;
}

.missing {
    > h2 {
        font-family: $serif-font;
    }
    > ul li {
        font-family: $recipe-font;
        cursor: pointer;
        padding-left: 8px;
    }
}
