.barcart-recipe-show {
    margin-left: 10px;
}
.missing-title {
    color: $title-color;
    font-family: $readible-fancy-font;
}
.missing-ingredient {
    color: red;
    .orange, p {
        color: red
    }
}

.review-graphic {
  padding-top: 25px;
  align-self: right;
}

.a-asym {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.go-shopping {
    font-size: 24px;
    text-align: center;
    .shopping-cart {
      font-size: 50px;
    }
}