.dotd {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 45px;
    .dotd-title {
        font-size: 30px;
        font-family: $readible-fancy-font;
        font-weight: 700;
        color: $title-color;
        display:flex;
        justify-content: center;
        margin-top: 20px;
        span {
            margin-left: 20px;
            font-weight: 500;
            color: $dark-grey;
            font-family: $recipe-font;
            &:hover {
                font-weight: 700
            }
        }
    }
    .dotd-img {
        width: 70%;
        border: 10px solid $title-color;
        border-radius: 5px;
        margin: auto;
        margin-top: 65px;
        padding: 20px;
        border-style: inset;

        &:hover {
            box-shadow: $warm-pink 0px 0px 0px 4px;
        }
    }
}