.ingredient-list-title {
    font-family: $reg-font;
    font-weight: 700;
    padding: 8px;
    border-bottom: 1px solid rgba(229, 224, 216, 255);
}
.ingredients-list-subtitle {
    .category-title {
        padding-bottom: 4px;
    }
    font-family: $reg-font;
    padding: 10px 8px 4px 8px;
    cursor: pointer;
    border-bottom: 1px solid rgba(229, 224, 216, 255);
}
.subject-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}
.open {
    padding: 7px;
    margin-bottom: 10px;
}
.mycheckbox {
}
.mycheckbox {
    font-size: 12px;
    font-weight: 700px;
    padding: 2px;
}
input[type="checkbox"] {
    accent-color: #4e4d49;
}
.subtitle-box {
    display: flex;
    justify-content: space-between;
}
.filter-ico {
    color: #c5c5c5;
}
