.ingredient-list {
    width: 200px;
    height: auto;
    padding: 32px;
    border-radius: 4px;
    border: 1px solid #DCD6CB;
    background-color: #F7F7F7;
    position: sticky;
    top: 0;
    font-family: $reg-font;
    color: rgba(12,11,8,.75);
  }
  .ingredient-list-title {
    // font-size: 28px;
    font-family: $reg-font;
    padding: 8px;
    border-bottom: 1px solid rgba(229,224,216,255);
  }
  .ingredients-list-subtitle {
    .category-title {
      padding-bottom: 4px;
    }
    // font-size: 20px;
    font-family: $reg-font;
    padding: 4px 8px;
    cursor: pointer;
    border-bottom: 1px solid rgba(229,224,216,255);
  }
  .subject-box{
    display: flex;
    flex-direction: column;
  }
  .mycheckbox {
    font-size: 16px;
    font-family: $reg-font;
    padding: 2px;
  }
  input[type=checkbox] {
    accent-color: #4E4D49;
  }
  .subtitle-box {
    display: flex;
    justify-content: space-between;
  }
  .filter-ico {
    color:  #C5C5C5;
  }