.recipe-index-item {
	height: 35vh;
	margin: 8px 0;

  .photo-title {
    font-size: 20px;
    color: $dark-grey;
    font-family: $reg-font;
  }
}

.photo-box {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  padding: 5px;
  height: 90%;
  .recipe-index-show {
    // height: 250px;
    width: 90%;
    object-fit: cover;
  }
}

