.recipe-show {
    position:relative;
    width: 80%;
    left: 10%;
    padding-top: 20px;
    // top: 150px;
    height: fit-content;
    padding-bottom: 50px;
    border: 1px solid $light-grey;
    border-radius: 0 0 5px 5px;
    font-family: $reg-font;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 2px 6px 0px, rgba(0, 0, 0, 0.09) 0px 3px 8px 0px;
    h2 {
      color: $title-color;
      font-weight: 700;
      font-size: 24px;
      font-family: $readible-fancy-font;
      border-bottom: 1px solid $title-color;
      // padding-bottom: 5px;
      padding: 0 8px;
      margin-bottom: 10px;
      width: fit-content;
    }
}

.recipe-left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 36px;
    .show-photo {
        display: flex;
        justify-content: center;
        width: 70%;
        margin-bottom: 10px;
        img {
            border-radius: 7px;
        }
    }
    .recipe-title {
        font-size: 36px;
        font-family: $readible-fancy-font, cursive;
        color: $title-color;
        font-weight: 700;
        padding: 0px 7px 2px 7px;
        padding-bottom: 2px;
        margin-bottom: 10px;
    }
    .recipe-bottom-left {
        display: flex;
        justify-content: center;
        .recipe-description {
            width: 70%;
            line-height: 22.5px;
        }
    }
}

.recipe-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .recipe-ingredients {
        flex-basis: 30%;
        li {
            display:flex;
            gap: 5px;
            // justify-content: center;
            align-items: center;
        }
        .orange {
            color: $title-color;
        }
    }
    .recipe-steps {
        flex-basis: 70%;
    }
}

.separator {
    margin-left: 4%;
    margin-right: 4%;
    border-top: 2px solid $title-color;
}

.graphic-title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
