.recipe-index-item {
	height: auto;
	// background-color: $dark-grey;
	margin: 8px 0;
  .photo-title {
    font-size: 20px;
    color: $dark-grey;
    font-family: $reg-font;
  }
}

.photo-box {
  vertical-align: middle;
  // border: 1px solid magenta;
  display: table-cell;
  padding: 5px;
}
