.recipe-index-item {
	height: 35vh;
	margin: 8px 0;

  .photo-title {
    font-size: 20px;
    color: $dark-grey;
    font-family: $reg-font;
    &:hover {
        color: $warm-pink;
        font-weight: bold;
    }
  }
}

.photo-box {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  padding: 5px;
  height: 90%;
  img {
    border-radius: 7px;
      &:hover {
        border: 2px solid $warm-pink;
        border-radius: 7px;
      }
  }
  .recipe-index-show {
    // height: 250px;
    width: 90%;
    object-fit: cover;
  }
}

