.review-form-header {
  color: $title-color;
  font-family: $readible-fancy-font;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 5px;
  cursor: pointer;
  transition-property: font-size;
  transition-duration: 1s;
}
.review-form-header:hover {
  color: $warm-pink;
  font-size: 36px;
}

.review-form-initiator {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.review-form-container {
  padding: 20px;
}

.rating-header{
  padding-bottom: 4px;
}
.review-form{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 $lighter-main-color;
  border: solid $less-light-main-color;
  gap: 40px;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
}
.ratings-container{
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ratings-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.category {
  text-align: left;
}


.hidden {
  display: none
}


.rating-slider {
  -webkit-appearance: none;
  padding: 0;
  height: 3px important;
  background: $dark-grey;
  border-radius: 5px;
  background-image: linear-gradient($lighter-main-color, $light-main-color);
  background-repeat: no-repeat;
}

.rating-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $title-color;
  cursor: pointer;
  box-shadow: 0 0 2px 0 $dark-grey;
  transition: background 0.3s ease-in-out;
}

.rating-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.rating-slider::-webkit-slider-thumb:hover {
  box-shadow: $warm-pink 0 0px 0px 0px 8px;
}

.rating-slider::-webkit-slider-thumb:active {
  box-shadow: #d46a6a50 0px 0px 0px 11px;
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal-background {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  z-index: 1;
}

.modal-container-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
}

.hideModal{
  z-index:-1;
  opacity:0;
animation: hide .25s;

transform: scale(0);
}@keyframes hide {
from{
    z-index:2;
transform: scale(1);
  opacity:1;
} to{
    z-index:-1;
transform: scale(0);
  opacity: 0;
}
}
.showModal{
opacity:1;
  z-index:2;
animation: show .2s;

transform: scale(1);
}
@keyframes show {
from{
  
transform: scale(0);
  opacity:0;
    z-index:-1;
} to{
  
transform: scale(1);
  opacity: 1;
    z-index:2;
}
}